.paint-red {
  color: #dc3545;
}

.paint-red-bg {
  background-color: #dc3545 !important;
}

.paint-blue {
  color: #0d6efd;
}

.paint-blue-bg {
  background-color: #0d6efd !important;
}

.paint-purple {
  color: #6f42c1;
}

.paint-yellow {
  color: #ffc107;
}

.text-muted {
  color: #6c757d !important;
}

.max-w-600 {
  max-width: 600px;
}
